<div class="container">
  <div class="col-xs-12">

    <div class="ii-widget">

      <h1>widget name</h1>

      <div class="information-strip">
        <div class="row">
          <div class="col-xs-3">investment</div>
          <div class="col-xs-3">high</div>
          <div class="col-xs-3">low</div>
          <div class="col-xs-3">time period</div>
        </div>
      </div>

      <ii-high-low company="LSE:IBST"></ii-high-low>
      <ii-high-low company="@GB:ASX"></ii-high-low>
      <ii-high-low company="LSE:RTN"></ii-high-low>
      <ii-high-low company="LSE:IBST"></ii-high-low>
      <ii-high-low company="LSE:PLP"></ii-high-low>
      <ii-high-low company="LSE:PAGE"></ii-high-low>
      <ii-high-low company="LSE:FORT"></ii-high-low>
      <ii-high-low company="LSE:ENQ"></ii-high-low>
      <ii-high-low company="LSE:GMS"></ii-high-low>
      <ii-high-low company="LSE:OXB"></ii-high-low>

    </div>

  </div>
</div>
